@mixin flexSetCenter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
section#story{
    background-color: var(--bg-color);
    @include flexSetCenter();
    flex-direction: column;
    padding: 2rem 0;
    .storyItem{
        width: 50%;
        display: flex;
        margin-bottom: 5rem;
        &:nth-child(odd){
            flex-direction: row-reverse;
        }
        .storyTxt{
            margin-left: 2rem;
        }
        .storyPic{
            width: 800px;
            height: 300px;
            overflow:hidden;
            img{
                width: 100%;
                background-position: center;
                background-size: cover;
            }
        }
    }

    .history{
        @include flexSetCenter();
        flex-direction: column;
        text-align: center;
        width: 80%;
        // background-image: url(../images/story/page.png);
        // background-size: contain;
        // background-position: center;
        // background-repeat: no-repeat;
        .btnRow{
            width: 80%;
            font-size: 2rem;
            border-bottom: 1px solid var(--borderB-color);
            a{
                cursor: pointer;
                display: inline-block;
                width: 15rem;
                height: 3.6rem;
                &:hover{
                    border-bottom: 1px solid var(--main2-color);
                }
            }
        }
        .btnRowActive{
            border-bottom: 1px solid var(--main2-color);
        }
        .historyContent{
            margin-top: 2rem;
            .wrap{
                display: flex;
                margin-top: 2rem;
            }
        }
    }
}