section#story {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}
section#story .storyItem {
  width: 50%;
  display: flex;
  margin-bottom: 5rem;
}
section#story .storyItem:nth-child(odd) {
  flex-direction: row-reverse;
}
section#story .storyItem .storyTxt {
  margin-left: 2rem;
}
section#story .storyItem .storyPic {
  width: 800px;
  height: 300px;
  overflow: hidden;
}
section#story .storyItem .storyPic img {
  width: 100%;
  background-position: center;
  background-size: cover;
}
section#story .borderDec {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 1rem solid var(--main2-color);
  z-index: 999;
}
section#story .history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
section#story .history .btnRow {
  width: 80%;
  font-size: 2rem;
  border-bottom: 1px solid var(--borderB-color);
}
section#story .history .btnRow a {
  cursor: pointer;
  display: inline-block;
  width: 15rem;
  height: 3.6rem;
}
section#story .history .btnRow a:hover {
  border-bottom: 1px solid var(--main2-color);
}
section#story .history .btnRowActive {
  border-bottom: 1px solid var(--main2-color);
}
section#story .history .historyContent {
  margin-top: 2rem;
  display: none;
}
section#story .history .historyContent .wrap {
  display: flex;
  margin-top: 2rem;
}
section#story .history #government-Con {
  display: block;
}