section#Summons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    .content{
      .wrap{
          display: flex;
          padding:0  3rem;

        #contentTxt{
          width: 60%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 3rem;
          #animalName{
            font-size: 3rem;
            margin: 0 1rem;
            border-left: .6rem solid var(--main-color);
            padding-left: 1rem;
          }

          #animalStory{
            font-size: 1.5rem;
            margin: 1rem;
          }

          .more{
            width: 10rem;
            height: 2.8rem;
            margin: 1rem;
            position: relative;
            font-weight: bolder;
            background-color: var(--main-color);
            border-radius: 2rem;


            &::before{
              content: "More";
              color: var(--text-color);
              font-size: 1.3rem;
            }
          }

        }
        #contentPic{
          width: 60%;
          height: 55vh;
          // overflow: hidden;
          text-align: center;
          img{
            width: 100%;
            background-size: cover;
            background-position:  center center;
          }
        }
      }
    }

    .btnGroup {
      display: flex;
      margin: 5rem;
      flex-wrap: wrap;
      justify-content: center;

      .btn {
        width: 160px;
        height: 160px;
        background-size: 160%;
        background-position: center top;
        border: .3rem solid black;
        border-radius: .3rem;
        filter: grayscale(80%) brightness(.5);
        margin: .5rem;
  
        &:hover{
          border: .3rem solid var(--main-color);
          filter: brightness(1) grayscale(0%);
          transform: scale(1.15);
        }
      }
      .btnActive{
        border: .3rem solid var(--main-color);
        filter:  brightness(1) grayscale(0%);
      }
    }
}



// 用迴圈代替自行取檔名
$btn-images: (
  "cyberanimal01.jpg",
  "cyberanimal02.jpg",
  "cyberanimal03.jpg",
  "cyberanimal04.jpg",
  "cyberanimal05.jpg",
  "cyberanimal06.jpg",
  "cyberanimal07.jpg",
  "cyberanimal08.jpg",
  "cyberanimal09.jpg",
  "cyberanimal10.jpg",
  "cyberanimal11.jpg",
  "cyberanimal12.jpg",
  "cyberanimal13.jpg",
  "cyberanimal14.jpg",
  "cyberanimal15.jpg",
  "cyberanimal16.jpg",
  "cyberanimal17.jpg",
  "cyberanimal18.jpg",
);

@for $i from 1 through length($btn-images) {
  $btn-image: nth($btn-images, $i);
  section {
    .btnGroup {
      li:nth-child(#{$i}) {
        .btn {
          background-image: url("../images/cyberanimal/#{$btn-image}");
        }
      }
    }
  }
}


// RWD
@media (max-width:1024px) {
  .btnGroup {
    margin:3rem !important;
    .btn {
      width: 120px !important;
      height: 120px !important;
    }
  }
}

@media (max-width:768px) {
  .content{
    .wrap{
      #contentTxt{
        gap: 1rem !important;
        #animalName{
          font-size: 2rem !important;
          margin: 0 1rem;
        }

        #animalStory{
          font-size: 1.2rem !important;
          margin: .2rem !important;
        }
      }
    }
  }
  .btnGroup {
    margin:2rem !important;
  }
}

@media (max-width:600px) {
  .content{
    .wrap{
        flex-direction: column !important;
      #contentTxt{
        margin-top: 10rem !important;
        width: 100% !important;
        justify-content: center !important;

        #animalStory{
          font-size: 1.6rem !important;
          margin: .2rem !important;
        }
      }
      #contentPic{
        width:100% !important;
      }
    }
  }
}
